@import "normalize.css";

body{
	background-image: url(../img/bg.png);
}

nav{
	display: block;
}

.navbar-header{
	float: none;
	margin: 0 auto;
	display: inline-block;

}

.navbar-top{
	text-align: center;
}

nav ul li{
	font-family: 'Lily Script One' ;
	font-size: 28px;
	margin-right: 20px;
	margin-left: 20px;

}

nav ul li a{
	color: #ff66cc;
	 -webkit-filter: drop-shadow(2px 2px 2px #555); 
	 filter: drop-shadow(2px 2px 2px #555);
}

nav ul li a:hover{
	text-decoration: none;
	color: white;
}

.navbar-default{
	background-image: none;
	background-color: #cccccc;
}

#logo{
	 -webkit-filter: drop-shadow(10px 10px 10px #999); 
	 filter: drop-shadow(10px 10px 10px #888);
}

#logo a:hover, .socialLinks a:hover{
	 -webkit-filter: drop-shadow(5px 5px 5px #fff); 
	 filter: drop-shadow(5px 5px 5px #fff);
}

.footerText{
	float: left;
}

.socialLinks{
	float: right;
}

.footer p{
	margin-top: 10px;
	text-align: center;
	font-family: 'Happy Monkey' ;
	font-size: 14px;
}

.socialLinks img{
	display: inline-block;
}

.socialLinks img{
	width: 50px;
}

.banner { 
	max-width: 940px;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative; 
	overflow: auto; 
}

.banner ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.banner ul li { 
	list-style: none;
	float: left; 
	padding: 0;
	margin: 0;
	height: 395px;
	background-repeat: no-repeat;
	background-size: 940px;
	border: 5px solid white;
}

.bannerText{
	display: block;
	border: 1px solid white;
	width: 250px;
	background: rgba(128, 128, 128, .7);
	margin-top: 20px;
	margin-left: 20px;
	height: 350px;
}

.bannerText h1{
	text-align: center;
	font-family: 'Mystery Quest' ;
	color: white;
	padding: 5px;
	font-size: 36px;
}

.bannerText p{
	font-family: 'Happy Monkey' ;
	color: white;
	padding: 10px;
}

/*.bannerText button{
	padding: 10px;
	display: block;
	margin: 0 auto;
}*/

.bannerText a, .aboutUsInfo a{
	display: block;
	width: 150px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 0 auto;
	font-family: 'Lily Script One' ;
	font-size: 18px;
	letter-spacing: 1px;

	color: #fef4e9;
	border: solid 1px #ffcccc;
	background: #ffcccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#66cccc));
	background: -moz-linear-gradient(top,  #ffcccc,  #66cccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#66cccc');
}


.bannerText a:hover,.aboutUsInfo a:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#669999));
	background: -moz-linear-gradient(top,  #ffcccc,  #669999);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#669999');
}
.bannerText a:active,.aboutUsInfo a:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#ffcccc));
	background: -moz-linear-gradient(top,  #ffcccc,  #ffcccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#ffcccc');
}

.bannerText a:hover {
	text-decoration: none;
}
.bannerText a:active {
	position: relative;
	top: 1px;
}

.aboutUs, .sweets, .contact {
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: white;
	border: 1px solid pink;
}

.aboutUsInfo, .contactInfo{
	display: block;
	padding: 20px;
}

.aboutUsInfo h1, .sweets h1, .contact h1{
	font-family: 'Mystery Quest' ;
	font-size: 36px;
	padding-left: 10px;
}

.aboutUsInfo p{
	font-family: 'Happy Monkey' ;
	word-spacing: 2px;
}

.storeInfo{
	display: block;
	margin: 0 auto;
	padding-right: 50px;
	float: left;
}

.storeInfo ul li {
	list-style: none;
	text-align: center;
}

.storeInfo h2{
	text-align: center;
}


@media (max-width: 940px) {

  .banner { 
	width: 90%;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative; 
	overflow: auto; 
}
  
}




