@import "normalize.css";

body{
	background-image: url(../img/bg.png);
	background-size: 100px;
	height: 100%;
}

p{
	letter-spacing: -1px;
}

.contained{
	min-height: 100%;
	position: relative;
}

.wrapper{
	height: 100%;
}





.navbar-header{
	float: none;
	margin: 0 auto;
	display: inline-block;
}

.navbar{
	margin-bottom: 0px;
	border: none;
}

.navbar-top{
	text-align: center;
}



nav ul li{
	font-family: 'Lily Script One' ;
	font-size: 24px;
	margin-right: 30px;
	margin-left: 30px;
	padding-top: 10px;
	text-align: center;
	display: inline-block;
}


nav ul li img{
	margin-top: -5px;
}

nav ul li a{
	color: #bdd09f;
	 -webkit-filter: drop-shadow(2px 2px 2px #555); 
	 filter: drop-shadow(2px 2px 2px #555);
	 transition: 0.1s color; /*animates for 1 second*/
    -moz-transition: 0.1s color; /*For Firefox < 16.0*/
    -webkit-transition: 0.1s color; /*For WebKit (Chrome, Safari)*/
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

nav ul li a:hover{
	text-decoration: none;
	color: white;
	-webkit-filter: drop-shadow(3px 3px 3px #000); 
	filter: drop-shadow(3px 3px 3px #000);
	transition: 0.1s color; /*animates for 1 second*/
    -moz-transition: 0.1s color; /*For Firefox < 16.0*/
    -webkit-transition: 0.1s color; /*For WebKit (Chrome, Safari)*/
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
    transition: all 0.1s linear;

}

/* F9EBBE aecb56*/

.navbar-default{
	background-color: white;
	background-image:-webkit-linear-gradient(top,#d5864b 0,#BC7642 100%);
	background-image:-moz-linear-gradient(top,#d5864b 0,#BC7642 100%);
	background-image:-ms-linear-gradient(top,#d5864b 0,#BC7642 100%);
	background-image:-linear-gradient(top,#d5864b 0,#BC7642 100%);
}	

#logo a:hover, .socialLinks a:hover{
	 -webkit-filter: drop-shadow(3px 3px 3px #000); 
	 filter: drop-shadow(3px 3px 3px #000);
}

.socialLinks a:hover{
	opacity: .5;
}

#logo img{
	width: 100%;
}

.container{
	margin-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 960px;
	position: relative;
}

.footerText{
	float: left;
}

.footer{
	margin: 0 auto;
	width: 100%;
	position: fixed;
	bottom: 0;
}


.socialLinks{
	float: right;
}

.socialLinks p{
	float: left;
	padding-right: 10px;
}

.footer p{
	text-align: center;
	font-family: 'Happy Monkey' ;
	font-weight: bolder;
	font-size: 14px;
	line-height: 250%;
}

.socialLinks img{
	padding-top: 5px;
	padding-right: 5px;
	display: inline-block;
}

.banner { 
	max-width: 1400px;
	max-height: 595px;
	margin: 0 auto;
	position: relative; 
	overflow: auto; 

/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;
}

.banner ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.banner ul li { 
	display: block;
	list-style: none;
	float: left; 
	padding: 0;
	margin: 0;
	height: 596px;
	background-repeat: no-repeat;
	background-size: 1400px;
}

.bannerText{
	display: block;
	
	width: 250px;
	background: rgba(000, 000, 000, .8);
	margin-top: 20px;
	margin-left: 20px;
}

.bannerText h1{
	text-align: center;
	font-family: 'Ultra', serif;
	color: white;
	padding: 5px;
	padding-top: 30px;
	font-size: 36px;
}

.bannerText p{
	font-family: Helvetica;
	text-align: justify;
	color: white;
	padding: 15px;
}

.buttons{
	margin-bottom: 20px;
}

.bannerText a, .aboutUsInfo a, .product a, .sweetsButton a{
	display: block;
	width: 150px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 0 auto;
	font-family: 'Lily Script One' ;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fef4e9;
	border: solid 1px #ffcccc;
	background: #ffcccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#aecb56), to(#cadd91));
	background: -moz-linear-gradient(top,  #aecb56,  #cadd91);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aecb56', endColorstr='#cadd91');
}

.bannerText a:hover,.aboutUsInfo a:hover, .product a:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#cadd91), to(#e6efcb));
	background: -moz-linear-gradient(top,  #cadd91,  #e6efcb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cadd91', endColorstr='#e6efcb');
}
.bannerText a:active,.aboutUsInfo a:active ,.product a:active{
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#ffcccc));
	background: -moz-linear-gradient(top,  #ffcccc,  #ffcccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#ffcccc');
}

.bannerText a:hover {
	text-decoration: none;
}
.bannerText a:active {
	position: relative;
	top: 1px;
}

.panel{
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.pages {
	display: block;
	margin: 0 auto;
	width: 90%;
	margin-top: 30px;
	max-width: 940px;
	margin-bottom: 30px;
	overflow:auto;
	padding-bottom: 60px;
}

.aboutUsInfo, .contactInfo, .shop{
	display: block;
	padding: 40px;
	position: relative;
}

.aboutUsInfo{
	width: 60%;
	text-align:justify;
	float: left;
}

.aboutUsImages{
	float: right;
	width: 40%;
	margin: 0 auto;
	margin-top: 120px;
}

.aboutUsInfo a{
	margin-top: 50px;
}

.aboutImage{
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 200px;
	background-color: black;
}

.pages h1{
	font-family: 'Ultra', serif;
	font-size: 40px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.aboutUsInfo p{
	font-family: Helvetica ;
	color: #424242;
	word-spacing: 2px;
}

.storeInfo{
	display: block;
	width: 40%;
	float: right;
	margin-top: 110px;
}

.pages form{
	display: block;
	width: 60%;
	padding: 40px;
	float: left;
}

.sweetsInfo{
	display: block;
	padding: 40px;
}

.storeInfo ul{
	display: block;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.storeInfo ul li{
	list-style: none;
	text-align: center;
	font-family: 'Happy Monkey' ;

}

p{
	font-family: Helvetica; 
}

h2{
	font-family: 'Lily Script One' ;
}

.contact h2{
	font-family: 'Mystery Quest' ;
}

.map{
	
}

#map_canvas {
        width: 300px;
        height: 300px;
        background-color: #CCC;
        margin: 0 auto;
        margin-bottom: 30px;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}

.footer{
	clear: both;
}

#slider-id-nav-ul{
	font-family: 'Lily Script One';
	font-size: 30px;
}

#slider-id-nav-ul a{
	color: #83929f;
}

.ls-wrapper .ls-nav a{
	background: white;
}

#slider-id-wrapper{
	width: 1400px;
}

.sweetsLinks{
	font-family: 'Ultra', serif;
	font-size: 18px;
}

.sweetsLinks a{
	padding-right: 20px;
	color:#a3adb8; 
	text-decoration: none;
	outline: 0;
}

.sweetsLinks a:hover{
	color: black;
}

.sweetsLinks ul{
	display: block;
	padding: 0px;
}

.sweetsLinks ul li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

.sweetsInfo p{
	text-align: justify;
	float: left;
	width: 60%;
	padding-right: 10px;

}

.sweetsImg{
	display: block;
	max-width: 300px;
	width: 40%;
	max-height: 200px;
	background-color: black;
	margin:0 auto;
	margin-top: 5px;
}

#tab-1{
	display: block;
	clear: both;
}



.title{
	display: none;
}

.active{
	 -webkit-filter: drop-shadow(2px 2px 2px #000); 
	 filter: drop-shadow(2px 2px 2px #000);
}

.currentPage{
	color: white;
	 -webkit-filter: drop-shadow(3px 3px 3px #000); 
	 filter: drop-shadow(3px 3px 3px #000);
}

strong{
	color: gray;
}

.product{
	text-align: justify;
	display: block;
	width: 30%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	margin: 1.5%;
}

.product img{
	display: block;
	width: 250px;
	margin: 0 auto;
}

.product p{
	padding-top: 10px;
}

.product a, .sweetsButton a{
	float: right;
	margin-right: 10px;
	width: 120px;
	font-size: 14px;
}

.sweetsButton a{
	float: right;
}

.packageDetail strong{
	margin-top: 20px;
	float: right;
}

.product span{
	font-weight: thin;
	font-size: 22px;
	line-height: 1.2;
}

/*Shopping Cart*/

.cart{
	font-family: Helvetica;
	float: right;
	cursor: pointer;
	display: block;
	text-align: center;
	padding:5px;
	position: relative;
}

.cart a, .cartInfo a{
	color: black;
	font-weight: bolder;
}

#bold{
	color: black;
	font-weight: bolder;
}

.cartInfo, #cartInfo{
	text-align: left;
	display: none;
	background-color: white;
	width: 250px;
	color: white;
	z-index: 1001;
	position: absolute;
	float: right;
	right: 1%;
	border:1px solid #000;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
}

.headerRow div,.itemRow div{
	font-size: 12px;
	text-align: center;
	display: inline-block;
	font-weight: bolder;
}

.headerRow{
	background-image:-webkit-linear-gradient(top,#E9C2A6 0,#BC7642 100%);
	padding-top: 3px;
	padding-bottom: 3px;
}

.item-price,.item-remove{
	width: 50px;
}

.item-name{
	width: 80px;
}

.item-decrement, .item-increment, .item-quantity{
	width: 20px;
}

.headerRow .item-total{
	display: none;
	width: 0px;
	color: #BC7642;
}

.itemRow{
	color: black;
	font-weight: normal;
}

.itemRow .item-total{
	display: none;
}


.cart div{
	display: inline-block;
}


.cartInfo p{
	font-weight: bolder;
}

.cartFooter{
	background-image:-webkit-linear-gradient(top,#E9C2A6 0,#BC7642 100%);
	padding: 3px;
}

.cartFooter a{
	color: white;
}

.cartFooter .check{
	float: right;
	color: yellow;
}

.total {
	text-align: right;
	color: black;
	background-color: #bdbdbd;
	height: 20px;

}

.total div{
	text-align: right;
	display: inline-block;
	padding-right: 5px;
}

/*Page animation*/

.ng-enter{ 
	animation: scaleUp 0.5s both ease-in; 
	z-index: 8888; 
}

.reveal-animation.ng-enter {
	-webkit-animation: Fade-Enter-Anime 2s;
	-moz-animation: Fade-Enter-Anime 2s;
	animation: Fade-Enter-Anime 2s;
}
.Content-Fade-Leave {
	-webkit-animation: Fade-Leave-Anime 2s;
	-moz-animation: Fade-Leave-Anime 2s;
	animation: Fade-Leave-Anime 2s;
}

@keyframes Fade-Enter-Anime {
   from { opacity: 0; }
   to { opacity: 1; }
 }

@keyframes Fade-Leave-Anime {
	from { opacity: 1; }
	to { opacity: 0; }
}


@-webkit-keyframes Fade-Enter-Anime {
	from { opacity: 0; }
	to { opacity: 1; }
}

.odd{
	background-color:#dddddd;
}

.navbar{
	border-radius: 0;
}

/* Admin Area*/

#admin{
width: 100%;
}

#admin img{
	display: block;
	margin: 0 auto;
}

#admin h1{
	text-align: center;
}

#admin p{
	font-weight: bolder;
}

#admin input{
	width: 100%;
}

#admin article{
	display: block;
	margin: 0 auto;
	max-width: 300px;
}


#admin h1{
	font-family: 'Ultra', serif;
	text-align: center;
}

#admin form{
	margin-top: 150px;
}

.clear{
	clear: both;
}



@media (max-width: 960px) {

  .banner { 
	width: 100%;
	margin: 0 auto;
	position: relative; 
	overflow: auto; 
}

.pages{
	margin-top: 10px;
	margin-bottom: 90px;
}

.banner ul li {
	height: 560px;
}

  
}

@media(max-width: 768px){
	.banner{
		height: 500px;
	}

	.banner ul li{
		background-size: 768px;
	}

	.navbar-header ul li{
		font-size: 24px;
	}


	.product{
		width: 48%;
		padding:10px;
		margin:0 auto;
	}

	.footer{
		bottom: 0;
	}

	nav ul li{
	font-family: 'Lily Script One' ;
	font-size: 24px;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;

}

}

@media (max-width: 640px){

	.socialLinks{
		display: none;
		float: none;
		margin:0 auto;
		text-align: center;
	}

	.socialLinks img{
		margin: 0 auto;
	}

	nav ul li{
	font-family: 'Lily Script One' ;
	font-size: 24px;
	margin-right: 1px;
	margin-left: 1px;
	padding-top: 10px;
	}

	.bannerText{
		margin: 0 auto;
	}

}

@media (max-width: 540px){


	nav ul li{
		display: block;
		padding-top: 0;
	}	

	.aboutUsImages{
		display: none;
	}

	.aboutUsInfo{
		padding: 0;
		width: 90%;
	}

	.pages h1{
		text-align: center;
	}

	.list-inline li{
		display: block;
	}



	.storeInfo ul{
		display: none;
	}

	.map{
		display: none;
	}

	.pages form{
		width: 90%;
	}

	.product{
		width: 100%;
	}

	.sweetsImg{
		width: 100%;
	}

	.sweetsInfo{
		padding: 0;
	}

	.sweetsInfo p{
		width: 100%;
		padding: 0;
	}


}




