@import "normalize.css";

body{
	background-image: url(../img/bg.png);
}



.navbar-header{
	float: none;
	margin: 0 auto;
	display: inline-block;

}

.navbar-top{
	text-align: center;
}

nav ul li{
	font-family: 'Lily Script One' ;
	font-size: 30px;
	margin-right: 20px;
	margin-left: 20px;

}

nav ul li a{
	color: #ff66cc;
	 -webkit-filter: drop-shadow(2px 2px 2px #555); 
	 filter: drop-shadow(2px 2px 2px #555);
}

nav ul li a:hover{
	text-decoration: none;
	color: white;
}

.navbar-default{
	background-image: none;
	background-color: #cccccc;
}

#logo{
	 -webkit-filter: drop-shadow(10px 10px 10px #999); 
	 filter: drop-shadow(10px 10px 10px #888);
}

#logo a:hover, .socialLinks a:hover{
	 -webkit-filter: drop-shadow(5px 5px 5px #fff); 
	 filter: drop-shadow(5px 5px 5px #fff);
}

.footerText{
	float: left;
}

.socialLinks{
	float: right;
}

.footer p{
	margin-top: 10px;
	text-align: center;
	font-family: 'Happy Monkey' ;
	font-size: 14px;
}

.socialLinks img{
	display: inline-block;
}

.socialLinks img{
	width: 50px;
}

.banner { 
	max-width: 940px;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative; 
	overflow: auto; 
}

.banner ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.banner ul li { 
	list-style: none;
	float: left; 
	padding: 0;
	margin: 0;
	height: 395px;
	background-repeat: no-repeat;
	background-size: 940px;
	border: 5px solid white;
}

.bannerText{
	display: block;
	border: 1px solid white;
	width: 250px;
	background: rgba(128, 128, 128, .9);
	margin-top: 20px;
	margin-left: 20px;
	height: 350px;
}

.bannerText h1{
	text-align: center;
	font-family: 'Mystery Quest' ;
	color: white;
	padding: 5px;
	font-size: 36px;
}

.bannerText p{
	font-family: 'Happy Monkey' ;
	color: white;
	padding: 10px;
	word-spacing: 2px;
}

.bannerText a, .aboutUsInfo a{
	display: block;
	width: 150px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 0 auto;
	font-family: 'Lily Script One' ;
	font-size: 18px;
	letter-spacing: 1px;

	color: #fef4e9;
	border: solid 1px #ffcccc;
	background: #ffcccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#66cccc));
	background: -moz-linear-gradient(top,  #ffcccc,  #66cccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#66cccc');
}


.bannerText a:hover,.aboutUsInfo a:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#669999));
	background: -moz-linear-gradient(top,  #ffcccc,  #669999);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#669999');
}
.bannerText a:active,.aboutUsInfo a:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(#ffcccc));
	background: -moz-linear-gradient(top,  #ffcccc,  #ffcccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#ffcccc');
}

.bannerText a:hover {
	text-decoration: none;
}
.bannerText a:active {
	position: relative;
	top: 1px;
}

.pages {
	display: block;
	margin: 0 auto;
	width: 90%;
	max-width: 940px;
	background-color: white;
	border: 1px solid pink;
	margin-bottom: 110px;
	overflow:auto;
}

.aboutUsInfo, .contactInfo, .shop{
	display: block;
	padding: 40px;
}

.aboutUsInfo{
	width: 60%;
	text-align:justify;
	float: left;
}

.aboutUsImages{
	float: right;
	width: 40%;
	margin: 0 auto;
	margin-top: 110px;

}

.aboutImage{
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 200px;
	background-color: black;
}

.pages h1{
	font-family: 'Mystery Quest' ;
	font-size: 36px;
	padding-left: 10px;
}

.aboutUsInfo p{
	font-family: 'Happy Monkey' ;
	word-spacing: 2px;
}

.storeInfo{
	display: block;
	width: 40%;
	float: right;
	margin-top: 110px;
}

.pages form{
	display: block;
	width: 60%;
	padding: 40px;
	float: left;
}

.sweetsInfo{
	display: block;
	padding: 40px;
}

.storeInfo ul{
	display: block;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.storeInfo ul li{
	list-style: none;
	text-align: center;
	font-family: 'Happy Monkey' ;

}

p{
	font-family: 'Happy Monkey' ;
}

h2{
	font-family: 'Mystery Quest' ;
}

.contact h2{
	font-family: 'Mystery Quest' ;
}

.map{
	
}

#map_canvas {
        width: 200px;
        height: 200px;
        background-color: #CCC;
        margin: 0 auto;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}

.footer{
	clear: both;
}

#slider-id-nav-ul{
	font-family: 'Lily Script One';
	font-size: 30px;
}

#slider-id-nav-ul a{
	color: #ff66cc;
}

.ls-wrapper .ls-nav a{
	background: white;
}

#slider-id-wrapper{
	width: 1400px;
}

.sweetsLinks{
	font-family: 'Chewy', cursive;
	font-size: 18px;
}

.sweetsLinks a{
	padding-right: 20px;
	color:#ff66cc; 
	text-decoration: none;
	outline: 0;
}

.sweetsLinks a:hover{
	color: black;
}

.sweetsLinks ul{
	display: block;
	padding: 0px;
}

.sweetsLinks ul li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

.sweetsInfo p{
	text-align: justify;
	float: left;
	width: 60%;
	padding-right: 10px;

}

.sweetsImg{
	float: right;
	display: block;
	max-width: 300px;
	width: 40%;
	max-height: 200px;
	background-color: black;
	margin:0 auto;
	margin-top: 5px;
}

#tab-1{
	display: block;
	clear: both;
}



.title{
	display: none;
}

.active{
	 -webkit-filter: drop-shadow(2px 2px 2px #000); 
	 filter: drop-shadow(2px 2px 2px #000);
}

.currentPage{
	color: white;
}


@media (max-width: 940px) {

  .banner { 
	width: 90%;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative; 
	overflow: auto; 
}
  
}




